@import "tailwindcss";

:root {
  --bg: #14181b;
  --white: #e6e6e6;
  --sub-text: hsl(0, 0%, 70%);
  --sky-blue: #4aa4b9;
}

html {
  font-family: monospace;
  background-color: var(--bg);
  color: var(--white);
}

h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 500;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
